---
layout: layouts/base.njk
---
<div class="listing-content-grid">
	<div class="listing-main">
		{{ content | safe }}
	</div>

	<aside class="sidebar">
		<div class="sidebar-widget popular-posts">
			<h2 class="widget-title">Popular Posts</h2>
			<ul class="popular-list">
			{% set popularItems = collections | popularPosts(locale, 5) %}
			{% for item in popularItems %}
				<li class="popular-item">
					<a href="{{ item.post.url }}"><img src="{{ item.post.url }}cover.jpg" alt="{{ item.post.data.title }}" class="popular-thumbnail" loading="lazy"></a>
					<div class="popular-item-content">
						<span class="tag-badge">{{ item.tag }}</span>
						<a href="{{ item.post.url }}" class="popular-link">{{ item.post.data.title }}</a>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>

		<div class="sidebar-widget newsletter-widget glass">
			<h2 class="widget-title">Newsletter</h2>
			<p>Subscribe to our newsletter for the latest travel stories!</p>
			<form class="sidebar-newsletter-form">
				<input type="email" placeholder="Your email..." required class="sidebar-newsletter-input">
				<button type="submit" class="sidebar-newsletter-btn btn">Subscribe</button>
			</form>
		</div>
	</aside>
</div>
