---
feature_name: IndexedDB Observers
chrome_version: 57
feature_id: 5669292892749824
---

<style>
  #data {
    background-color: #C8E6C9;
    font-size: 2em;
  }
  #name {
    background-color: #C8E6C9;
    font-size: 2em;
  }
</style>

<h3>Background</h3>
<p>IndexedDB Observers allow one to observe changes to indexeddb in an efficient and data-consistant way.
  Open this page in multiple tabs or windows, and observer how the data consistantly updates.</p>
<p>See <a href="https://github.com/WICG/indexed-db-observers/blob/gh-pages/EXPLAINER.md">this explainer</a> for more info and the proposed specification changes.</a>
<p><b>Note:</b> You must be using Chrome 57.0.2986.0 or higher, with the #enable-experimental-web-platform-features flag enabled.</p>

<h4>Tab Name: <span id='name'></span></h4>
<h4>Data number: <span id='data'></span></h4>
<button id="incrementButton">Increment Data Number</button>
<button id="resetButton">Reset Data Number</button>

<script>
var names = ['Toby', 'Fred', 'George', 'Bob', 'Bill', 'Buster',
             'Jenn', 'Zoe', 'Carla', 'Stacy', 'Alyssa', 'Catherine',
             'Sally', 'Austin', 'Jackson', 'Grace',
             'Tasha', 'Arthur', 'Michael', 'Echo', 'Topher', 'Sierra',
             'Whisky', 'DeWitt'];
var nameField = document.querySelector('#name');
nameField.innerHTML = names[Math.floor(Math.random()*names.length)];
</script>

{% capture initial_output_content %}
<pre>Database changes appear here:</pre>
{% endcapture %}
{% include output_helper.html initial_output_content=initial_output_content%}

{% include js_snippet.html filename='demo.js' %}
