---
feature_name: Extended Object Literals (ES6)
chrome_version: 42
feature_id: 4873630588600320
---

<h3>Background</h3>
<p>
  Extended Object Literals simplify object creation and composition by reducing the required amount
  of typing with some syntactic sugar.
</p>
<p>
  With this, object literals are now syntactically similar to ES6’s new class syntax and have less
  duplication in common use-cases like constructor function.
</p>

{% include output_helper.html %}

{% include js_snippet.html filename='demo.js' %}
