<datalist id="characteristics">
  <option value="aerobic_heart_rate_lower_limit">
  <option value="aerobic_heart_rate_upper_limit">
  <option value="aerobic_threshold">
  <option value="age">
  <option value="aggregate">
  <option value="alert_category_id">
  <option value="alert_category_id_bit_mask">
  <option value="alert_level">
  <option value="alert_notification_control_point">
  <option value="alert_status">
  <option value="altitude">
  <option value="anaerobic_heart_rate_lower_limit">
  <option value="anaerobic_heart_rate_upper_limit">
  <option value="anaerobic_threshold">
  <option value="analog">
  <option value="apparent_wind_direction">
  <option value="apparent_wind_speed">
  <option value="gap.appearance">
  <option value="barometric_pressure_trend">
  <option value="battery_level">
  <option value="blood_pressure_feature">
  <option value="blood_pressure_measurement">
  <option value="body_composition_feature">
  <option value="body_composition_measurement">
  <option value="body_sensor_location">
  <option value="bond_management_control_point">
  <option value="bond_management_feature">
  <option value="boot_keyboard_input_report">
  <option value="boot_keyboard_output_report">
  <option value="boot_mouse_input_report">
  <option value="gap.central_address_resolution_support">
  <option value="cgm_feature">
  <option value="cgm_measurement">
  <option value="cgm_session_run_time">
  <option value="cgm_session_start_time">
  <option value="cgm_specific_ops_control_point">
  <option value="cgm_status">
  <option value="csc_feature">
  <option value="csc_measurement">
  <option value="current_time">
  <option value="cycling_power_control_point">
  <option value="cycling_power_feature">
  <option value="cycling_power_measurement">
  <option value="cycling_power_vector">
  <option value="database_change_increment">
  <option value="date_of_birth">
  <option value="date_of_threshold_assessment">
  <option value="date_time">
  <option value="day_date_time">
  <option value="day_of_week">
  <option value="descriptor_value_changed">
  <option value="gap.device_name">
  <option value="dew_point">
  <option value="digital">
  <option value="dst_offset">
  <option value="elevation">
  <option value="email_address">
  <option value="exact_time_256">
  <option value="fat_burn_heart_rate_lower_limit">
  <option value="fat_burn_heart_rate_upper_limit">
  <option value="firmware_revision_string">
  <option value="first_name">
  <option value="five_zone_heart_rate_limits">
  <option value="floor_number">
  <option value="gender">
  <option value="glucose_feature">
  <option value="glucose_measurement">
  <option value="glucose_measurement_context">
  <option value="gust_factor">
  <option value="hardware_revision_string">
  <option value="heart_rate_control_point">
  <option value="heart_rate_max">
  <option value="heart_rate_measurement">
  <option value="heat_index">
  <option value="height">
  <option value="hid_control_point">
  <option value="hid_information">
  <option value="hip_circumference">
  <option value="humidity">
  <option value="ieee_11073-20601_regulatory_certification_data_list">
  <option value="indoor_positioning_configuration">
  <option value="intermediate_blood_pressure">
  <option value="intermediate_temperature">
  <option value="irradiance">
  <option value="language">
  <option value="last_name">
  <option value="latitude">
  <option value="ln_control_point">
  <option value="ln_feature">
  <option value="local_east_coordinate.xml">
  <option value="local_north_coordinate">
  <option value="local_time_information">
  <option value="location_and_speed">
  <option value="location_name">
  <option value="longitude">
  <option value="magnetic_declination">
  <option value="magnetic_flux_density_2D">
  <option value="magnetic_flux_density_3D">
  <option value="manufacturer_name_string">
  <option value="maximum_recommended_heart_rate">
  <option value="measurement_interval">
  <option value="model_number_string">
  <option value="navigation">
  <option value="new_alert">
  <option value="gap.peripheral_preferred_connection_parameters">
  <option value="gap.peripheral_privacy_flag">
  <option value="plx_continuous_measurement">
  <option value="plx_features">
  <option value="plx_spot_check_measurement">
  <option value="pnp_id">
  <option value="pollen_concentration">
  <option value="position_quality">
  <option value="pressure">
  <option value="protocol_mode">
  <option value="rainfall">
  <option value="gap.reconnection_address">
  <option value="record_access_control_point">
  <option value="reference_time_information">
  <option value="report">
  <option value="report_map">
  <option value="resting_heart_rate">
  <option value="ringer_control_point">
  <option value="ringer_setting">
  <option value="rsc_feature">
  <option value="rsc_measurement">
  <option value="sc_control_point">
  <option value="scan_interval_window">
  <option value="scan_refresh">
  <option value="sensor_location">
  <option value="serial_number_string">
  <option value="gatt.service_changed">
  <option value="software_revision_string">
  <option value="sport_type_for_aerobic_and_anaerobic_thresholds">
  <option value="supported_new_alert_category">
  <option value="supported_unread_alert_category">
  <option value="system_id">
  <option value="temperature">
  <option value="temperature_measurement">
  <option value="temperature_type">
  <option value="three_zone_heart_rate_limits">
  <option value="time_accuracy">
  <option value="time_source">
  <option value="time_update_control_point">
  <option value="time_update_state">
  <option value="time_with_dst">
  <option value="time_zone">
  <option value="true_wind_direction">
  <option value="true_wind_speed">
  <option value="two_zone_heart_rate_limit">
  <option value="tx_power_level">
  <option value="uncertainty">
  <option value="unread_alert_status">
  <option value="user_control_point">
  <option value="user_index">
  <option value="uv_index">
  <option value="vo2_max">
  <option value="waist_circumference">
  <option value="weight">
  <option value="weight_measurement">
  <option value="weight_scale_feature">
  <option value="wind_chill">
</datalist>
