<datalist id="characteristics">
  <option value="aerobic_heart_rate_lower_limit">aerobic_heart_rate_lower_limit</option>
  <option value="aerobic_heart_rate_upper_limit">aerobic_heart_rate_upper_limit</option>
  <option value="aerobic_threshold">aerobic_threshold</option>
  <option value="age">age</option>
  <option value="aggregate">aggregate</option>
  <option value="alert_category_id">alert_category_id</option>
  <option value="alert_category_id_bit_mask">alert_category_id_bit_mask</option>
  <option value="alert_level">alert_level</option>
  <option value="alert_notification_control_point">alert_notification_control_point</option>
  <option value="alert_status">alert_status</option>
  <option value="altitude">altitude</option>
  <option value="anaerobic_heart_rate_lower_limit">anaerobic_heart_rate_lower_limit</option>
  <option value="anaerobic_heart_rate_upper_limit">anaerobic_heart_rate_upper_limit</option>
  <option value="anaerobic_threshold">anaerobic_threshold</option>
  <option value="analog">analog</option>
  <option value="apparent_wind_direction">apparent_wind_direction</option>
  <option value="apparent_wind_speed">apparent_wind_speed</option>
  <option value="gap.appearance">gap.appearance</option>
  <option value="barometric_pressure_trend">barometric_pressure_trend</option>
  <option value="battery_level">battery_level</option>
  <option value="blood_pressure_feature">blood_pressure_feature</option>
  <option value="blood_pressure_measurement">blood_pressure_measurement</option>
  <option value="body_composition_feature">body_composition_feature</option>
  <option value="body_composition_measurement">body_composition_measurement</option>
  <option value="body_sensor_location">body_sensor_location</option>
  <option value="bond_management_control_point">bond_management_control_point</option>
  <option value="bond_management_feature">bond_management_feature</option>
  <option value="boot_keyboard_input_report">boot_keyboard_input_report</option>
  <option value="boot_keyboard_output_report">boot_keyboard_output_report</option>
  <option value="boot_mouse_input_report">boot_mouse_input_report</option>
  <option value="gap.central_address_resolution_support">gap.central_address_resolution_support</option>
  <option value="cgm_feature">cgm_feature</option>
  <option value="cgm_measurement">cgm_measurement</option>
  <option value="cgm_session_run_time">cgm_session_run_time</option>
  <option value="cgm_session_start_time">cgm_session_start_time</option>
  <option value="cgm_specific_ops_control_point">cgm_specific_ops_control_point</option>
  <option value="cgm_status">cgm_status</option>
  <option value="csc_feature">csc_feature</option>
  <option value="csc_measurement">csc_measurement</option>
  <option value="current_time">current_time</option>
  <option value="cycling_power_control_point">cycling_power_control_point</option>
  <option value="cycling_power_feature">cycling_power_feature</option>
  <option value="cycling_power_measurement">cycling_power_measurement</option>
  <option value="cycling_power_vector">cycling_power_vector</option>
  <option value="database_change_increment">database_change_increment</option>
  <option value="date_of_birth">date_of_birth</option>
  <option value="date_of_threshold_assessment">date_of_threshold_assessment</option>
  <option value="date_time">date_time</option>
  <option value="day_date_time">day_date_time</option>
  <option value="day_of_week">day_of_week</option>
  <option value="descriptor_value_changed">descriptor_value_changed</option>
  <option value="gap.device_name">gap.device_name</option>
  <option value="dew_point">dew_point</option>
  <option value="digital">digital</option>
  <option value="dst_offset">dst_offset</option>
  <option value="elevation">elevation</option>
  <option value="email_address">email_address</option>
  <option value="exact_time_256">exact_time_256</option>
  <option value="fat_burn_heart_rate_lower_limit">fat_burn_heart_rate_lower_limit</option>
  <option value="fat_burn_heart_rate_upper_limit">fat_burn_heart_rate_upper_limit</option>
  <option value="firmware_revision_string">firmware_revision_string</option>
  <option value="first_name">first_name</option>
  <option value="five_zone_heart_rate_limits">five_zone_heart_rate_limits</option>
  <option value="floor_number">floor_number</option>
  <option value="gender">gender</option>
  <option value="glucose_feature">glucose_feature</option>
  <option value="glucose_measurement">glucose_measurement</option>
  <option value="glucose_measurement_context">glucose_measurement_context</option>
  <option value="gust_factor">gust_factor</option>
  <option value="hardware_revision_string">hardware_revision_string</option>
  <option value="heart_rate_control_point">heart_rate_control_point</option>
  <option value="heart_rate_max">heart_rate_max</option>
  <option value="heart_rate_measurement">heart_rate_measurement</option>
  <option value="heat_index">heat_index</option>
  <option value="height">height</option>
  <option value="hid_control_point">hid_control_point</option>
  <option value="hid_information">hid_information</option>
  <option value="hip_circumference">hip_circumference</option>
  <option value="humidity">humidity</option>
  <option value="ieee_11073-20601_regulatory_certification_data_list">
  <option value="indoor_positioning_configuration">indoor_positioning_configuration</option>
  <option value="intermediate_blood_pressure">intermediate_blood_pressure</option>
  <option value="intermediate_temperature">intermediate_temperature</option>
  <option value="irradiance">irradiance</option>
  <option value="language">language</option>
  <option value="last_name">last_name</option>
  <option value="latitude">latitude</option>
  <option value="ln_control_point">ln_control_point</option>
  <option value="ln_feature">ln_feature</option>
  <option value="local_east_coordinate.xml">local_east_coordinate.xml</option>
  <option value="local_north_coordinate">local_north_coordinate</option>
  <option value="local_time_information">local_time_information</option>
  <option value="location_and_speed">location_and_speed</option>
  <option value="location_name">location_name</option>
  <option value="longitude">longitude</option>
  <option value="magnetic_declination">magnetic_declination</option>
  <option value="magnetic_flux_density_2D">magnetic_flux_density_2D</option>
  <option value="magnetic_flux_density_3D">magnetic_flux_density_3D</option>
  <option value="manufacturer_name_string">manufacturer_name_string</option>
  <option value="maximum_recommended_heart_rate">maximum_recommended_heart_rate</option>
  <option value="measurement_interval">measurement_interval</option>
  <option value="model_number_string">model_number_string</option>
  <option value="navigation">navigation</option>
  <option value="new_alert">new_alert</option>
  <option value="gap.peripheral_preferred_connection_parameters">gap.peripheral_preferred_connection_parameters</option>
  <option value="gap.peripheral_privacy_flag">gap.peripheral_privacy_flag (blocklisted - write)</option>
  <option value="plx_continuous_measurement">plx_continuous_measurement</option>
  <option value="plx_features">plx_features</option>
  <option value="plx_spot_check_measurement">plx_spot_check_measurement</option>
  <option value="pnp_id">pnp_id</option>
  <option value="pollen_concentration">pollen_concentration</option>
  <option value="position_quality">position_quality</option>
  <option value="pressure">pressure</option>
  <option value="protocol_mode">protocol_mode</option>
  <option value="rainfall">rainfall</option>
  <option value="gap.reconnection_address">gap.reconnection_address (blocklisted)</option>
  <option value="record_access_control_point">record_access_control_point</option>
  <option value="reference_time_information">reference_time_information</option>
  <option value="report">report</option>
  <option value="report_map">report_map</option>
  <option value="resting_heart_rate">resting_heart_rate</option>
  <option value="ringer_control_point">ringer_control_point</option>
  <option value="ringer_setting">ringer_setting</option>
  <option value="rsc_feature">rsc_feature</option>
  <option value="rsc_measurement">rsc_measurement</option>
  <option value="sc_control_point">sc_control_point</option>
  <option value="scan_interval_window">scan_interval_window</option>
  <option value="scan_refresh">scan_refresh</option>
  <option value="sensor_location">sensor_location</option>
  <option value="serial_number_string">serial_number_string (blocklisted)</option>
  <option value="gatt.service_changed">gatt.service_changed</option>
  <option value="software_revision_string">software_revision_string</option>
  <option value="sport_type_for_aerobic_and_anaerobic_thresholds">sport_type_for_aerobic_and_anaerobic_thresholds</option>
  <option value="supported_new_alert_category">supported_new_alert_category</option>
  <option value="supported_unread_alert_category">supported_unread_alert_category</option>
  <option value="system_id">system_id</option>
  <option value="temperature">temperature</option>
  <option value="temperature_measurement">temperature_measurement</option>
  <option value="temperature_type">temperature_type</option>
  <option value="three_zone_heart_rate_limits">three_zone_heart_rate_limits</option>
  <option value="time_accuracy">time_accuracy</option>
  <option value="time_source">time_source</option>
  <option value="time_update_control_point">time_update_control_point</option>
  <option value="time_update_state">time_update_state</option>
  <option value="time_with_dst">time_with_dst</option>
  <option value="time_zone">time_zone</option>
  <option value="true_wind_direction">true_wind_direction</option>
  <option value="true_wind_speed">true_wind_speed</option>
  <option value="two_zone_heart_rate_limit">two_zone_heart_rate_limit</option>
  <option value="tx_power_level">tx_power_level</option>
  <option value="uncertainty">uncertainty</option>
  <option value="unread_alert_status">unread_alert_status</option>
  <option value="user_control_point">user_control_point</option>
  <option value="user_index">user_index</option>
  <option value="uv_index">uv_index</option>
  <option value="vo2_max">vo2_max</option>
  <option value="waist_circumference">waist_circumference</option>
  <option value="weight">weight</option>
  <option value="weight_measurement">weight_measurement</option>
  <option value="weight_scale_feature">weight_scale_feature</option>
  <option value="wind_chill">wind_chill</option>
</datalist>
