<datalist id="characteristics">
  <option value="0x2A00">Device Name</option>
  <option value="0x2A01">Appearance</option>
  <option value="0x2A02">Peripheral Privacy Flag</option>
  <option value="0x2A03">Reconnection Address</option>
  <option value="0x2A04">Peripheral Preferred Connection Parameters</option>
  <option value="0x2A05">Service Changed</option>
  <option value="0x2A06">Alert Level</option>
  <option value="0x2A07">Tx Power Level</option>
  <option value="0x2A08">Date Time</option>
  <option value="0x2A09">Day of Week</option>
  <option value="0x2A0A">Day Date Time</option>
  <option value="0x2A0C">Exact Time 256</option>
  <option value="0x2A0D">DST Offset</option>
  <option value="0x2A0E">Time Zone</option>
  <option value="0x2A0F">Local Time Information</option>
  <option value="0x2A11">Time with DST</option>
  <option value="0x2A12">Time Accuracy</option>
  <option value="0x2A13">Time Source</option>
  <option value="0x2A14">Reference Time Information</option>
  <option value="0x2A16">Time Update Control Point</option>
  <option value="0x2A17">Time Update State</option>
  <option value="0x2A18">Glucose Measurement</option>
  <option value="0x2A19">Battery Level</option>
  <option value="0x2A1C">Temperature Measurement</option>
  <option value="0x2A1D">Temperature Type</option>
  <option value="0x2A1E">Intermediate Temperature</option>
  <option value="0x2A21">Measurement Interval</option>
  <option value="0x2A22">Boot Keyboard Input Report</option>
  <option value="0x2A23">System ID</option>
  <option value="0x2A24">Model Number String</option>
  <option value="0x2A25">Serial Number String</option>
  <option value="0x2A26">Firmware Revision String</option>
  <option value="0x2A27">Hardware Revision String</option>
  <option value="0x2A28">Software Revision String</option>
  <option value="0x2A29">Manufacturer Name String</option>
  <option value="0x2A2A">IEEE 11073-20601 Regulatory Certification Data List</option>
  <option value="0x2A2B">Current Time</option>
  <option value="0x2A31">Scan Refresh</option>
  <option value="0x2A32">Boot Keyboard Output Report</option>
  <option value="0x2A33">Boot Mouse Input Report</option>
  <option value="0x2A34">Glucose Measurement Context</option>
  <option value="0x2A35">Blood Pressure Measurement</option>
  <option value="0x2A36">Intermediate Cuff Pressure</option>
  <option value="0x2A37">Heart Rate Measurement</option>
  <option value="0x2A38">Body Sensor Location</option>
  <option value="0x2A39">Heart Rate Control Point</option>
  <option value="0x2A3F">Alert Status</option>
  <option value="0x2A40">Ringer Control Point</option>
  <option value="0x2A41">Ringer Setting</option>
  <option value="0x2A42">Alert Category ID Bit Mask</option>
  <option value="0x2A43">Alert Category ID</option>
  <option value="0x2A44">Alert Notification Control Point</option>
  <option value="0x2A45">Unread Alert Status</option>
  <option value="0x2A46">New Alert</option>
  <option value="0x2A47">Supported New Alert Category</option>
  <option value="0x2A48">Supported Unread Alert Category</option>
  <option value="0x2A49">Blood Pressure Feature</option>
  <option value="0x2A4A">HID Information</option>
  <option value="0x2A4B">Report Map</option>
  <option value="0x2A4C">HID Control Point</option>
  <option value="0x2A4D">Report</option>
  <option value="0x2A4E">Protocol Mode</option>
  <option value="0x2A4F">Scan Interval Window</option>
  <option value="0x2A50">PnP ID</option>
  <option value="0x2A51">Glucose Feature</option>
  <option value="0x2A52">Record Access Control Point</option>
  <option value="0x2A53">RSC Measurement</option>
  <option value="0x2A54">RSC Feature</option>
  <option value="0x2A55">SC Control Point</option>
  <option value="0x2A5A">Aggregate</option>
  <option value="0x2A5B">CSC Measurement</option>
  <option value="0x2A5C">CSC Feature</option>
  <option value="0x2A5D">Sensor Location</option>
  <option value="0x2A5E">PLX Spot-Check Measurement</option>
  <option value="0x2A5F">PLX Continuous Measurement</option>
  <option value="0x2A60">PLX Features</option>
  <option value="0x2A63">Cycling Power Measurement</option>
  <option value="0x2A64">Cycling Power Vector</option>
  <option value="0x2A65">Cycling Power Feature</option>
  <option value="0x2A66">Cycling Power Control Point</option>
  <option value="0x2A67">Location and Speed</option>
  <option value="0x2A68">Navigation</option>
  <option value="0x2A69">Position Quality</option>
  <option value="0x2A6A">LN Feature</option>
  <option value="0x2A6B">LN Control Point</option>
  <option value="0x2A6C">Elevation</option>
  <option value="0x2A6D">Pressure</option>
  <option value="0x2A6E">Temperature</option>
  <option value="0x2A6F">Humidity</option>
  <option value="0x2A70">True Wind Speed</option>
  <option value="0x2A71">True Wind Direction</option>
  <option value="0x2A72">Apparent Wind Speed</option>
  <option value="0x2A73">Apparent Wind Direction</option>
  <option value="0x2A74">Gust Factor</option>
  <option value="0x2A75">Pollen Concentration</option>
  <option value="0x2A76">UV Index</option>
  <option value="0x2A77">Irradiance</option>
  <option value="0x2A78">Rainfall</option>
  <option value="0x2A79">Wind Chill</option>
  <option value="0x2A7A">Heat Index</option>
  <option value="0x2A7B">Dew Point</option>
  <option value="0x2A7D">Descriptor Value Changed</option>
  <option value="0x2A7E">Aerobic Heart Rate Lower Limit</option>
  <option value="0x2A7F">Aerobic Threshold</option>
  <option value="0x2A80">Age</option>
  <option value="0x2A81">Anaerobic Heart Rate Lower Limit</option>
  <option value="0x2A82">Anaerobic Heart Rate Upper Limit</option>
  <option value="0x2A83">Anaerobic Threshold</option>
  <option value="0x2A84">Aerobic Heart Rate Upper Limit</option>
  <option value="0x2A85">Date of Birth</option>
  <option value="0x2A86">Date of Threshold Assessment</option>
  <option value="0x2A87">Email Address</option>
  <option value="0x2A88">Fat Burn Heart Rate Lower Limit</option>
  <option value="0x2A89">Fat Burn Heart Rate Upper Limit</option>
  <option value="0x2A8A">First Name</option>
  <option value="0x2A8B">Five Zone Heart Rate Limits</option>
  <option value="0x2A8C">Gender</option>
  <option value="0x2A8D">Heart Rate Max</option>
  <option value="0x2A8E">Height</option>
  <option value="0x2A8F">Hip Circumference</option>
  <option value="0x2A90">Last Name</option>
  <option value="0x2A91">Maximum Recommended Heart Rate</option>
  <option value="0x2A92">Resting Heart Rate</option>
  <option value="0x2A93">Sport Type for Aerobic and Anaerobic Thresholds</option>
  <option value="0x2A94">Three Zone Heart Rate Limits</option>
  <option value="0x2A95">Two Zone Heart Rate Limits</option>
  <option value="0x2A96">VO2 Max</option>
  <option value="0x2A97">Waist Circumference</option>
  <option value="0x2A98">Weight</option>
  <option value="0x2A99">Database Change Increment</option>
  <option value="0x2A9A">User Index</option>
  <option value="0x2A9B">Body Composition Feature</option>
  <option value="0x2A9C">Body Composition Measurement</option>
  <option value="0x2A9D">Weight Measurement</option>
  <option value="0x2A9E">Weight Scale Feature</option>
  <option value="0x2A9F">User Control Point</option>
  <option value="0x2AA0">Magnetic Flux Density - 2D</option>
  <option value="0x2AA1">Magnetic Flux Density - 3D</option>
  <option value="0x2AA2">Language</option>
  <option value="0x2AA3">Barometric Pressure Trend</option>
  <option value="0x2AA4">Bond Management Control Point</option>
  <option value="0x2AA5">Bond Management Feature</option>
  <option value="0x2AA6">Central Address Resolution</option>
  <option value="0x2AA7">CGM Measurement</option>
  <option value="0x2AA8">CGM Feature</option>
  <option value="0x2AA9">CGM Status</option>
  <option value="0x2AAA">CGM Session Start Time</option>
  <option value="0x2AAB">CGM Session Run Time</option>
  <option value="0x2AAC">CGM Specific Ops Control Point</option>
  <option value="0x2AAD">Indoor Positioning Configuration</option>
  <option value="0x2AAE">Latitude</option>
  <option value="0x2AAF">Longitude</option>
  <option value="0x2AB0">Local North Coordinate</option>
  <option value="0x2AB1">Local East Coordinate</option>
  <option value="0x2AB2">Floor Number</option>
  <option value="0x2AB3">Altitude</option>
  <option value="0x2AB4">Uncertainty</option>
  <option value="0x2AB5">Location Name</option>
  <option value="0x2AB6">URI</option>
  <option value="0x2AB7">HTTP Headers</option>
  <option value="0x2AB8">HTTP Status Code</option>
  <option value="0x2AB9">HTTP Entity Body</option>
  <option value="0x2ABA">HTTP Control Point</option>
  <option value="0x2ABB">HTTPS Security</option>
  <option value="0x2ABC">TDS Control Point</option>
  <option value="0x2ABD">OTS Feature</option>
  <option value="0x2ABE">object name</option>
  <option value="0x2ABF">object type</option>
  <option value="0x2AC0">object size</option>
  <option value="0x2AC1">object first created</option>
  <option value="0x2AC2">object last modified</option>
  <option value="0x2AC3">object ID</option>
  <option value="0x2AC4">object properties</option>
  <option value="0x2AC5">object actioncontrol point</option>
  <option value="0x2AC6">object list control point</option>
  <option value="0x2AC7">object list filter</option>
  <option value="0x2AC8">object changed</option>
  <option value="0x2AC9">Resolvable Private Address Only</option>
  <option value="0x2ACA">Unspecified</option>
  <option value="0x2ACB">Directory Listing</option>
  <option value="0x2ACC">Fitness Machine Feature</option>
  <option value="0x2ACD">Treadmill Data</option>
  <option value="0x2ACE">Cross Trainer Data</option>
  <option value="0x2ACF">Step Climber Data</option>
  <option value="0x2AD0">Stair Climber Data</option>
  <option value="0x2AD1">Rower Data</option>
  <option value="0x2AD2">Indoor Bike Data</option>
  <option value="0x2AD3">Training Status</option>
  <option value="0x2AD4">Supported Speed Range</option>
  <option value="0x2AD5">Supported Inclination Range</option>
  <option value="0x2AD6">Supported Resistance Level Range</option>
  <option value="0x2AD7">Supported Heart Rate Range</option>
  <option value="0x2AD8">Supported Power Range</option>
  <option value="0x2AD9">Fitness Machine Control Point</option>
  <option value="0x2ADA">Fitness Machine Status</option>
  <option value="0x2ADB">Mesh Provisioning Data In</option>
  <option value="0x2ADC">Mesh Provisioning Data Out</option>
  <option value="0x2ADD">Mesh Proxy Data In</option>
  <option value="0x2ADE">Mesh Proxy Data Out</option>
  <option value="0x2AE0">Average Current</option>
  <option value="0x2AE1">Average Voltage</option>
  <option value="0x2AE2">Boolean</option>
  <option value="0x2AE3">Chromatic Distance From Planckian</option>
  <option value="0x2AE4">Chromaticity Coordinates</option>
  <option value="0x2AE5">Chromaticity in CCT And Duv Values</option>
  <option value="0x2AE6">Chromaticity Tolerance</option>
  <option value="0x2AE7">CIE 13.3-1995 Color Rendering Index</option>
  <option value="0x2AE8">Coefficient</option>
  <option value="0x2AE9">Correlated Color Temperature</option>
  <option value="0x2AEA">Count 16</option>
  <option value="0x2AEB">Count 24</option>
  <option value="0x2AEC">Country Code</option>
  <option value="0x2AED">Date UTC</option>
  <option value="0x2AEE">Electric Current</option>
  <option value="0x2AEF">Electric Current Range</option>
  <option value="0x2AF0">Electric Current Specification</option>
  <option value="0x2AF1">Electric Current Statistics</option>
  <option value="0x2AF2">Energy</option>
  <option value="0x2AF3">Energy In A Period Of Day</option>
  <option value="0x2AF4">Event Statistics</option>
  <option value="0x2AF5">Fixed String 16</option>
  <option value="0x2AF6">Fixed String 24</option>
  <option value="0x2AF7">Fixed String 36</option>
  <option value="0x2AF8">Fixed String 8</option>
  <option value="0x2AF9">Generic Level</option>
  <option value="0x2AFA">Global Trade Item Number</option>
  <option value="0x2AFB">Illuminance</option>
  <option value="0x2AFC">Luminous Efficacy</option>
  <option value="0x2AFD">Luminous Energy</option>
  <option value="0x2AFE">Luminous Exposure</option>
  <option value="0x2AFF">Luminous Flux</option>
  <option value="0x2B00">Luminous Flux Range</option>
  <option value="0x2B01">Luminous Intensity</option>
  <option value="0x2B02">Mass Flow</option>
  <option value="0x2B03">Perceived Lightness</option>
  <option value="0x2B04">Percentage 8</option>
  <option value="0x2B05">Power</option>
  <option value="0x2B06">Power Specification</option>
  <option value="0x2B07">Relative Runtime In A Current Range</option>
  <option value="0x2B08">Relative Runtime In A Generic Level Range</option>
  <option value="0x2B09">Relative Value In A Voltage Range</option>
  <option value="0x2B0A">Relative Value In An Illuminance Range</option>
  <option value="0x2B0B">Relative Value In A Period Of Day</option>
  <option value="0x2B0C">Relative Value In A Temperature Range</option>
  <option value="0x2B0D">Temperature 8</option>
  <option value="0x2B0E">Temperature 8 In A Period Of Day</option>
  <option value="0x2B0F">Temperature 8 Statistics</option>
  <option value="0x2B10">Temperature Range</option>
  <option value="0x2B11">Temperature Statistics</option>
  <option value="0x2B12">Time Decihour 8</option>
  <option value="0x2B13">Time Exponential 8</option>
  <option value="0x2B14">Time Hour 24</option>
  <option value="0x2B15">Time Millisecond 24</option>
  <option value="0x2B16">Time Second 16</option>
  <option value="0x2B17">Time Second 8</option>
  <option value="0x2B18">Voltage</option>
  <option value="0x2B19">Voltage Specification</option>
  <option value="0x2B1A">Voltage Statistics</option>
  <option value="0x2B1B">Volume Flow</option>
  <option value="0x2B1C">Chromaticity Coordinate</option>
  <option value="0x2B1D">RC Feature</option>
  <option value="0x2B1E">RC Settings</option>
  <option value="0x2B1F">Reconnection Configuration Control Point</option>
  <option value="0x2B20">IDD Status Changed</option>
  <option value="0x2B21">IDD Status</option>
  <option value="0x2B22">IDD Annunciation Status</option>
  <option value="0x2B23">IDD Features</option>
  <option value="0x2B24">IDD Status Reader Control Point</option>
  <option value="0x2B25">IDD Command Control Point</option>
  <option value="0x2B26">IDD Command Data</option>
  <option value="0x2B27">IDD Record Access Control Point</option>
  <option value="0x2B28">IDD History Data</option>
  <option value="0x2B29">Client Supported Features</option>
  <option value="0x2B2A">Database Hash</option>
  <option value="0x2B2B">BSS Control Point</option>
  <option value="0x2B2C">BSS Response</option>
  <option value="0x2B2D">Emergency ID</option>
  <option value="0x2B2E">Emergency Text</option>
  <option value="0x2B34">Enhanced Blood Pressure Measurement</option>
  <option value="0x2B35">Enhanced Intermediate Cuff Pressure</option>
  <option value="0x2B36">Blood Pressure Record</option>
  <option value="0x2B38">BR-EDR Handover Data</option>
  <option value="0x2B39">Bluetooth SIG Data</option>
  <option value="0x2B3A">Server Supported Features</option>
  <option value="0x2B3B">Physical Activity Monitor Features</option>
  <option value="0x2B3C">General Activity Instantaneous Data</option>
  <option value="0x2B3D">General Activity Summary Data</option>
  <option value="0x2B3E">CardioRespiratory Activity Instantaneous Data</option>
  <option value="0x2B3F">CardioRespiratory Activity Summary Data</option>
  <option value="0x2B40">Step Counter Activity Summary Data</option>
  <option value="0x2B41">Sleep Activity Instantaneous Data</option>
  <option value="0x2B42">Sleep Activity Summary Data</option>
  <option value="0x2B43">Physical Activity Monitor Control Point</option>
  <option value="0x2B44">Current Session</option>
  <option value="0x2B45">Session</option>
  <option value="0x2B46">Preferred Units</option>
  <option value="0x2B47">High Resolution Height</option>
  <option value="0x2B48">Middle Name</option>
  <option value="0x2B49">Stride Length</option>
  <option value="0x2B4A">Handedness</option>
  <option value="0x2B4B">Device Wearing Position</option>
  <option value="0x2B4C">Four Zone Heart Rate Limits</option>
  <option value="0x2B4D">High Intensity Exercise Threshold</option>
  <option value="0x2B4E">Activity Goal</option>
  <option value="0x2B4F">Sedentary Interval Notification</option>
  <option value="0x2B50">Caloric Intake</option>
  <option value="0x2B77">Audio Input State</option>
  <option value="0x2B78">Gain Settings Attribute</option>
  <option value="0x2B79">Audio Input Type</option>
  <option value="0x2B7A">Audio Input Status</option>
  <option value="0x2B7B">Audio Input Control Point</option>
  <option value="0x2B7C">Audio Input Description</option>
  <option value="0x2B7D">Volume State</option>
  <option value="0x2B7E">Volume Control Point</option>
  <option value="0x2B7F">Volume Flags</option>
  <option value="0x2B80">Offset State</option>
  <option value="0x2B81">Audio Location</option>
  <option value="0x2B82">Volume Offset Control Point</option>
  <option value="0x2B83">Audio Output Description</option>
  <option value="0x2B84">Set Identity Resolving Key Characteristic</option>
  <option value="0x2B85">Size Characteristic</option>
  <option value="0x2B86">Lock Characteristic</option>
  <option value="0x2B87">Rank Characteristic</option>
  <option value="0x2B8E">Device Time Feature</option>
  <option value="0x2B8F">Device Time Parameters</option>
  <option value="0x2B90">Device Time</option>
  <option value="0x2B91">Device Time Control Point</option>
  <option value="0x2B92">Time Change Log Data</option>
  <option value="0x2B93">Media Player Name</option>
  <option value="0x2B94">Media Player Icon Object ID</option>
  <option value="0x2B95">Media Player Icon URL</option>
  <option value="0x2B96">Track Changed</option>
  <option value="0x2B97">Track Title</option>
  <option value="0x2B98">Track Duration</option>
  <option value="0x2B99">Track Position</option>
  <option value="0x2B9A">Playback Speed</option>
  <option value="0x2B9B">Seeking Speed</option>
  <option value="0x2B9C">Current Track Segments Object ID</option>
  <option value="0x2B9D">Current Track Object ID</option>
  <option value="0x2B9E">Next Track Object ID</option>
  <option value="0x2B9F">Parent Group Object ID</option>
  <option value="0x2BA0">Current Group Object ID</option>
  <option value="0x2BA1">Playing Order</option>
  <option value="0x2BA2">Playing Orders Supported</option>
  <option value="0x2BA3">Media State</option>
  <option value="0x2BA4">Media Control Point</option>
  <option value="0x2BA5">Media Control Point Opcodes Supported</option>
  <option value="0x2BA6">Search Results Object ID</option>
  <option value="0x2BA7">Search Control Point</option>
  <option value="0x2BA9">Media Player Icon Object Type</option>
  <option value="0x2BAA">Track Segments Object Type</option>
  <option value="0x2BAB">Track Object Type</option>
  <option value="0x2BAC">GATT Characteristic and Object Type</option>
  <option value="0x2BAD">Group Object Type</option>
  <option value="0x2BAE">Advertising Constant Tone Extension Minimum Length</option>
  <option value="0x2BAF">Advertising Constant Tone Extension Minimum Transmit Count</option>
  <option value="0x2BB0">Advertising Constant Tone Extension Transmit Duration</option>
  <option value="0x2BB1">Advertising Constant Tone Extension Interval</option>
  <option value="0x2BB2">Advertising Constant Tone Extension PHY</option>
  <option value="0x2BB3">Bearer Provider Name</option>
  <option value="0x2BB4">Bearer UCI</option>
  <option value="0x2BB5">Bearer Technology</option>
  <option value="0x2BB6">Bearer URI Schemes Supported List</option>
  <option value="0x2BB7">Bearer Signal Strength</option>
  <option value="0x2BB8">Bearer Signal Strength Reporting Interval</option>
  <option value="0x2BB9">Bearer List Current Calls</option>
  <option value="0x2BBA">Content Control ID</option>
  <option value="0x2BBB">Status Flags</option>
  <option value="0x2BBC">Incoming Call Target Bearer URI</option>
  <option value="0x2BBD">Call State</option>
  <option value="0x2BBE">Call Control Point</option>
  <option value="0x2BBF">Call Control Point Optional Opcodes</option>
  <option value="0x2BC0">Termination Reason</option>
  <option value="0x2BC1">Incoming Call</option>
  <option value="0x2BC2">Call Friendly Name</option>
  <option value="0x2BC3">Mute</option>
</datalist>
