<datalist id="services">
  <option value="0x1800">Generic Access</option>
  <option value="0x1801">Generic Attribute</option>
  <option value="0x1802">Immediate Alert</option>
  <option value="0x1803">Link Loss</option>
  <option value="0x1804">Tx Power</option>
  <option value="0x1805">Current Time</option>
  <option value="0x1806">Reference Time Update</option>
  <option value="0x1807">Next DST Change</option>
  <option value="0x1808">Glucose</option>
  <option value="0x1809">Health Thermometer</option>
  <option value="0x180A">Device Information</option>
  <option value="0x180D">Heart Rate</option>
  <option value="0x180E">Phone Alert Status</option>
  <option value="0x180F">Battery</option>
  <option value="0x1810">Blood Pressure</option>
  <option value="0x1811">Alert Notification</option>
  <option value="0x1812">Human Interface Device</option>
  <option value="0x1813">Scan Parameters</option>
  <option value="0x1814">Running Speed and Cadence</option>
  <option value="0x1815">Automation IO</option>
  <option value="0x1816">Cycling Speed and Cadence</option>
  <option value="0x1818">Cycling Power</option>
  <option value="0x1819">Location and Navigation</option>
  <option value="0x181A">Environmental Sensing</option>
  <option value="0x181B">Body Composition</option>
  <option value="0x181C">User Data</option>
  <option value="0x181D">Weight Scale</option>
  <option value="0x181E">Bond Management</option>
  <option value="0x181F">Continuous Glucose Monitoring</option>
  <option value="0x1820">Internet Protocol Support</option>
  <option value="0x1821">Indoor Positioning</option>
  <option value="0x1822">Pulse Oximeter</option>
  <option value="0x1823">HTTP Proxy</option>
  <option value="0x1824">Transport Discovery</option>
  <option value="0x1825">Object Transfer</option>
  <option value="0x1826">Fitness Machine</option>
  <option value="0x1827">Mesh Provisioning</option>
  <option value="0x1828">Mesh Proxy</option>
  <option value="0x1829">Reconnection Configuration</option>
  <option value="0x183A">Insulin Delivery</option>
  <option value="0x183B">Binary Sensor</option>
  <option value="0x183C">Emergency Configuration</option>
  <option value="0x183E">Physical Activity Monitor</option>
  <option value="0x1843">Audio Input Control</option>
  <option value="0x1844">Volume Control</option>
  <option value="0x1845">Volume Offset Control</option>
  <option value="0x1846">Coordinated Set Identification Service</option>
  <option value="0x1847">Device Time</option>
  <option value="0x1848">Media Control Service</option>
  <option value="0x1849">Generic Media Control Service</option>
  <option value="0x184A">Constant Tone Extension</option>
  <option value="0x184B">Telephone Bearer Service</option>
  <option value="0x184C">Generic Telephone Bearer Service</option>
  <option value="0x184D">Microphone Control</option>
</datalist>
