<p>The <a href="https://developers.google.com/web/updates/2015/07/interact-with-ble-devices-on-the-web">Web Bluetooth
  API</a> lets websites discover and communicate with devices over the
Bluetooth 4 wireless standard using the Generic Attribute Profile (GATT). It is
currently partially implemented in Android M, Chrome OS, Mac, and Windows 10.</p>

<script>
  if('serviceWorker' in navigator) {
    navigator.serviceWorker.register('service-worker.js');
  }
</script>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    const searchParams = new URL(location).searchParams;
    const inputs = Array.from(document.querySelectorAll('input[id]'));

    inputs.forEach(input => {
      if (searchParams.has(input.id)) {
        if (input.type == 'checkbox') {
          input.checked = searchParams.get(input.id);
        } else {
          input.value = searchParams.get(input.id);
          input.blur();
        }
      }
      if (input.type == 'checkbox') {
        input.addEventListener('change', function(event) {
          const newSearchParams = new URL(location).searchParams;
          if (event.target.checked) {
            newSearchParams.set(input.id, event.target.checked);
          } else {
            newSearchParams.delete(input.id);
          }
          history.replaceState({}, '', Array.from(newSearchParams).length ?
              location.pathname + '?' + newSearchParams : location.pathname);
        });
      } else {
        input.addEventListener('input', function(event) {
          const newSearchParams = new URL(location).searchParams;
          if (event.target.value) {
            newSearchParams.set(input.id, event.target.value);
          } else {
            newSearchParams.delete(input.id);
          }
          history.replaceState({}, '', Array.from(newSearchParams).length ?
              location.pathname + '?' + newSearchParams : location.pathname);
        });
      }
    });
  });
</script>
