<p>The <a href="https://github.com/WebBluetoothCG/web-bluetooth">Web Bluetooth
  API</a> lets websites discover and communicate with devices over the
Bluetooth 4 wireless standard using the Generic Attribute Profile (GATT). It is
currently partially implemented in Chrome OS, Chrome for Android M and Linux
behind the experimental flag <code>chrome://flags/#enable-web-bluetooth</code>.<br/>
Check out <a href="index.html">all Web Bluetooth Samples</a>.</p>

<script>
  if('serviceWorker' in navigator) {
    navigator.serviceWorker.register('service-worker.js');
  }
</script>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    const searchParams = new URL(location).searchParams;
    const inputs = Array.from(document.querySelectorAll('input'));

    inputs.filter(input => searchParams.has(input.id)).forEach(input => {
      input.value = searchParams.get(input.id);
    });
  });
</script>
