<p>The <a href="https://github.com/WebBluetoothCG/web-bluetooth">Web Bluetooth
  API</a> lets websites discover and communicate with devices over the
Bluetooth 4 wireless standard using the Generic Attribute Profile (GATT). It is
currently partially implemented in Chrome OS, Android M, Linux and Mac
behind the experimental flag <code>chrome://flags/#enable-web-bluetooth</code>.<br/>
Check out <a href="index.html">all Web Bluetooth Samples</a>.</p>

<p>Note: Starting in Chrome 53, it is also <a href="https://developers.google.com/web/updates/2015/07/interact-with-ble-devices-on-the-web#available-for-origin-trials">available
for trials</a> so that websites can use it without any flag.</p>

<script>
  if('serviceWorker' in navigator) {
    navigator.serviceWorker.register('service-worker.js');
  }
</script>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    const searchParams = new URL(location).searchParams;
    const inputs = Array.from(document.querySelectorAll('input'));

    inputs.filter(input => searchParams.has(input.id)).forEach(input => {
      input.value = searchParams.get(input.id);
    });
  });
</script>
