---
feature_name: Network Information API
chrome_version: 48
feature_id: 6338383617982464
---

<h3>Background</h3>
<p>
  This demo illustrates the use of the
  <a href="http://w3c.github.io/netinfo/">Network Information API</a>
  to retrieve the current network type and monitor for network type changes.
</p>

<p>
  The Network Information API is
  <a href="https://code.google.com/p/chromium/issues/detail?id=368358#c18">not currently available</a>
  on all platforms. For best results, try this demo using Chrome on Android, or ChromeOS.
</p>

<p>
  While the Network Information API was initially added to
  <a href="https://www.chromestatus.com/feature/6338383617982464">Chrome 38</a>, this sample
  illustrates additional functionality that was added in
  <a href="https://www.chromestatus.com/feature/5857463882481664">Chrome 48</a>. The updates include
  a new <code>connection.downlinkMax</code> attribute, support for the
  <code>'wimax'</code> connection type, and <code>connection.onchange</code> event listener.
  The older <code>connection.ontypechange</code> event listener will be deprecated in a future
  release.
</p>

{% include output_helper.html %}

{% include js_snippet.html filename='demo.js' %}
