---
feature_name: Media Capabilities Decoding
chrome_version: 64
feature_id: 5869632707624960
check_min_version: true
---

<h3>Background</h3>
<p>
The <a href="https://wicg.github.io/media-capabilities/">Media Capabilities
 API</a> allows websites to get more information about the decoding
abilities of the device/system/browser. This enables web developers to make
optimal decisions when selecting media streams for the user.
</p>
<p>Note that the <code>result</code> will always be supported if the
<code>mediaConfiguration</code> playback stats have not been recorded yet by
the browser.</p>

{% include output_helper.html %}

<script>
  log = ChromeSamples.log;
</script>

{% include js_snippet.html filename='decoding.js' %}
