---
feature_name: ES6 Object.assign()
chrome_version: 45
feature_id: REPLACE_ME
---

<h3>Background</h3>
<p><code>Object.assign()</code> copies the values (of all enumerable own properties) from one or more source objects to a target object. It has a signature of <code>Object.assign(target, ...sources)</code>. The target object is the first parameter and is also used as the return value. <code>Object.assign()</code> is useful for merging objects or cloning them shallowly.</p>

{% include output_helper.html %}

{% include js_snippet.html filename='demo.js' %}
