---
feature_name: Presentation Receiver API
chrome_version: 58
feature_id: 5414209298890752
---

<h3>Background</h3>

<p>
  This sample illustrates the use of
  <a href="https://w3c.github.io/presentation-api/">Presentation API</a>,
  which gives the ability to access external presentation-type displays and use
  them for presenting Web content. The <code>PresentationRequest</code> object
  is associated with a request to initiate or reconnect to a presentation made
  by a controlling browsing context and it takes in a presentation request URL
  when constructed. A presentation can be started by calling the
  <code>start()</code> method on the <code>PresentationRequest</code> object.
</p>

{% capture initial_output_content %}
<p>
  <button id="createRequest">new PresentationRequest()</button>
</p>
<p>
  <button id="start" disabled>presentationRequest.start()</button>
</p>
<p>
  <input id="fruit" type="text" placeholder="Send a fruit!" list="fruits" >
  <datalist id="fruits">
    <option value="grapes">
    <option value="watermelon">
    <option value="melon">
    <option value="tangerine">
    <option value="lemon">
    <option value="banana">
    <option value="pineapple">
    <option value="green apple">
    <option value="apple">
    <option value="pear">
    <option value="peach">
    <option value="cherries">
    <option value="strawberry">
  </datalist>
  <button id="sendFruit" disabled>presentationConnection.send(message)</button>
</p>
<p>
  <input id="message" type="text" placeholder="Send a message!">
  <button id="sendMessage" disabled>presentationConnection.send(message)</button>
</p>
<p>
  <input id="presentationId" type="text" placeholder="presentationId">
  <button id="reconnect" disabled>presentationRequest.reconnect(presentationId)</button>
</p>
<p>
  <button id="close" disabled>presentationConnection.close()</button>
  <button id="terminate" disabled>presentationConnection.terminate()</button>
</p>
{% endcapture %}
{% include output_helper.html initial_output_content=initial_output_content %}

{% capture js %}
const presentationUrls = ['receiver/index.html'];

let presentationRequest;
let presentationConnection;

function updatePresentationAvailability(displaysAvailable) {
  ChromeSamples.log('Presentation displays are ' +
      (displaysAvailable ? 'available' : 'unavailable') + '.');
}

document.querySelector('#createRequest').addEventListener('click', () => {
  presentationRequest = new PresentationRequest(presentationUrls);
  document.querySelector('#createRequest').disabled = true;
  document.querySelector('#start').disabled = false;
  document.querySelector('#reconnect').disabled = false;
  presentationRequest.getAvailability().then(availability => {
    updatePresentationAvailability(availability.value);
    availability.onchange = () => {
      updatePresentationAvailability(availability.value);
    };
  }).catch(error => {
    ChromeSamples.log('Presentation availability not supported, ' +
                      error.name + ': ' + error.message);
    updatePresentationAvailability(false);
  });
});

function setConnection(connection) {
  presentationConnection = connection;
  document.querySelector('#close').disabled = false;
  document.querySelector('#terminate').disabled = false;
  document.querySelector('#sendFruit').disabled = false;
  document.querySelector('#sendMessage').disabled = false;
  presentationConnection.onclose = () => {
    ChromeSamples.log('Connection closed.');
    document.querySelector('#sendFruit').disabled = true;
    document.querySelector('#sendMessage').disabled = true;
  };
  presentationConnection.onterminate = () => {
    ChromeSamples.log('Connection terminated.');
  };
}

document.querySelector('#start').addEventListener('click', () => {
  presentationRequest.start().then(connection => {
  ChromeSamples.log('Connected to presentation ' + connection.url + ', id: ' +
      connection.id);
    setConnection(connection);
  }).catch(error => {
    ChromeSamples.log(error.name + ': ' + error.message);
  });
});

document.querySelector('#reconnect').addEventListener('click', () => {
  const presentationId = document.querySelector('#presentationId').value.trim();
  if (presentationId.length) {
    presentationRequest.reconnect(presentationId).then(connection => {
      ChromeSamples.log('Reconnected to presentation: ' + connection.id);
      setConnection(connection);
    }).catch(error => {
      ChromeSamples.log('Presentation.reconnect() error, ' + error.name + ': ' +
                        error.message);
    });
  }
});

document.querySelector('#sendFruit').addEventListener('click', () => {
  if (presentationConnection && presentationConnection.state == 'connected') {
    const message = document.querySelector('#fruit').value.trim();
    ChromeSamples.log('Sending ' + message + ' to ' + presentationConnection.id);
    presentationConnection.send(JSON.stringify({message}));
  }
});

document.querySelector('#sendMessage').addEventListener('click', () => {
  if (presentationConnection && presentationConnection.state == 'connected') {
    const message = document.querySelector('#message').value.trim();
    ChromeSamples.log('Sending ' + message + ' to ' + presentationConnection.id);
    const lang = document.body.lang || 'en-US';
    presentationConnection.send(JSON.stringify({message, lang}));
  }
});

document.querySelector('#close').addEventListener('click', () => {
  if (presentationConnection) {
    presentationConnection.close();
    document.querySelector('#close').disabled = true;
    document.querySelector('#terminate').disabled = true;
  }
});

document.querySelector('#terminate').addEventListener('click', () => {
  if (presentationConnection) {
    presentationConnection.terminate();
    document.querySelector('#close').disabled = true;
    document.querySelector('#terminate').disabled = true;
  }
});

{% endcapture %}
{% include js_snippet.html js=js %}
