---
feature_name: Web Bluetooth / Battery Level
chrome_version: 45
feature_id: 5264933985976320
samples_url: /web-bluetooth/index.html
---

<p>The <a href="https://github.com/WebBluetoothCG/web-bluetooth">Web Bluetooth API</a> discovers and communicates with devices over the Bluetooth 4 wireless standard using the Generic Attribute Profile (GATT). It is currently only partially implemented in Chrome OS and Android behind the experimental flag <code>chrome://flags/#enable-web-bluetooth</code>.</p>

<p>This sample illustrates the use of the Web Bluetooth API to retrieve battery
information from a nearby Bluetooth Device advertising Battery information with
Bluetooth Low Energy. You may want to try this demo with the BLE Peripheral
Simulator App from the <a target="_blank"
href="https://play.google.com/store/apps/details?id=io.github.webbluetoothcg.bletestperipheral">Google
Play Store</a>.</p>

<button>Get Bluetooth Device's Battery Level</button>

{% include output_helper.html %}

{% include js_snippet.html filename='battery-level.js' %}

<script>
  document.querySelector('button').addEventListener('click', function() {
    if (!navigator.bluetooth) {
      ChromeSamples.setStatus('Web Bluetooth API is not available.\n' +
        'Please make sure the Web Bluetooth flag is enabled.');
    } else {
      ChromeSamples.clearLog();
      onButtonClick();
    }
  });
  log = ChromeSamples.log;
</script>
