---
feature_name: Web Bluetooth / Characteristic Properties
chrome_version: 48
feature_id: 5264933985976320
---

<p>The <a href="https://github.com/WebBluetoothCG/web-bluetooth">Web Bluetooth API</a> discovers and communicates with devices over the Bluetooth 4 wireless standard using the Generic Attribute Profile (GATT). It is currently only partially implemented in Chrome OS and Android behind the experimental flag <code>chrome://flags/#enable-web-bluetooth</code>.</p>

<p>This sample illustrates the use of the Web Bluetooth API to display all
properties of a specific characteristic from a nearby Bluetooth Low Energy
Device. You may want to try this demo with the BLE Peripheral Simulator App
from the <a target="_blank"
href="https://play.google.com/store/apps/details?id=io.github.webbluetoothcg.bletestperipheral">Google
Play Store</a>.</p>

<form>
  <input id="service" type="text" list="services" autofocus placeholder="Bluetooth Service">
  <input id="characteristic" type="text" list="characteristics" placeholder="Bluetooth Characteristic">
  <button>Get Bluetooth characteristic properties</button>
</form>

{% include_relative _includes/datalist-services.html %}
{% include_relative _includes/datalist-characteristics.html %}

{% include output_helper.html %}

{% include js_snippet.html filename='characteristic-properties.js' %}

<script>
  document.querySelector('form').addEventListener('submit', function(event) {
    event.stopPropagation();
    event.preventDefault();

    if (!navigator.bluetooth) {
      ChromeSamples.setStatus('Web Bluetooth API is not available.\n' +
        'Please make sure the Web Bluetooth flag is enabled.');
    } else {
      ChromeSamples.clearLog();
      onFormSubmit();
    }
  });
  log = ChromeSamples.log;
</script>
