---
feature_name: Web Bluetooth / Device Info
chrome_version: 45
feature_id: 5264933985976320
---

{% include_relative _includes/intro.html %}

<p>This sample illustrates the use of the Web Bluetooth API to retrieve basic
device information from a nearby Bluetooth Low Energy Device.</p>

<form>
  <input id="service" type="text" list="services" autofocus placeholder="Bluetooth Service">
  <input id="name" type="text" placeholder="Device Name">
  <input id="namePrefix" type="text" placeholder="Device Name Prefix">
  <button>Get Bluetooth Device Info</button>
</form>

{% include_relative _includes/datalist-services.html %}

{% include output_helper.html %}

{% include js_snippet.html filename='device-info.js' %}

<script>
  document.querySelector('form').addEventListener('submit', function(event) {
    event.stopPropagation();
    event.preventDefault();

    if (!navigator.bluetooth) {
      ChromeSamples.setStatus('Web Bluetooth API is not available.\n' +
        'Please make sure the Web Bluetooth flag is enabled.');
    } else {
      ChromeSamples.clearLog();
      onFormSubmit();
    }
  });
  log = ChromeSamples.log;
</script>
