---
feature_name: Web Bluetooth / GAP Characteristics (Async Await)
chrome_version: 55
check_min_version: true
feature_id: 5264933985976320
icon_url: icon.png
index: index.html
---

{% include_relative _includes/intro.html %}

<p>This sample illustrates the use of the Web Bluetooth API to read all GAP
characteristics from a nearby Bluetooth Device. You may want to try this demo
with the BLE Peripheral Simulator App from the <a target="_blank"
href="https://play.google.com/store/apps/details?id=io.github.webbluetoothcg.bletestperipheral">Google
Play Store</a> and check out the <a href="gap-characteristics.html">GAP
Characteristics (Promises)</a> sample.</p>

<p>Note: The <a target="_blank" href="https://developer.bluetooth.org/gatt/characteristics/Pages/CharacteristicViewer.aspx?u=org.bluetooth.characteristic.gap.reconnection_address.xml">Reconnection Address</a> characteristic is <a target="_blank" href="https://github.com/WebBluetoothCG/registries/blob/693db2fe6050bee27d198e1584d11fc2732cdbd8/gatt_blocklist.txt#L43-L45">blocklisted</a> and forbidden from being accessed.</p>

<button>Get Bluetooth Device's GAP Characteristics</button>

{% include output_helper.html %}

{% include js_snippet.html filename='gap-characteristics-async-await.js' %}

<script>
  document.querySelector('button').addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      onButtonClick();
    }
  });
</script>

{% include_relative _includes/utils.html %}
{% include_relative _includes/value-to-device-type.html %}
