---
feature_name: Web Bluetooth / Get Devices (Async Await)
chrome_version: 87
check_min_version: true
feature_id: 4797798639730688
icon_url: icon.png
index: index.html
---

{% include_relative _includes/intro.html %}

<p>This sample illustrates the use of the Web Bluetooth API to get a list of
Bluetooth devices that the website has been granted permission to use by the
user. You may want to check out the <a href="get-devices.html">Get Devices</a>
sample.</p>

<button id="getBluetoothDevices">Get Bluetooth Devices</button>
<button id="requestBluetoothDevice">Request Bluetooth Device</button>

{% include output_helper.html %}

{% include js_snippet.html filename='get-devices-async-await.js' %}

{% include_relative _includes/utils.html %}

<script>
  if (isWebBluetoothEnabled()) {
    document.querySelector('#requestBluetoothDevice').addEventListener('click', function() {
        onRequestBluetoothDeviceButtonClick();
    });
    document.querySelector('#getBluetoothDevices').addEventListener('click', function() {
        onGetBluetoothDevicesButtonClick();
    });
  }
</script>
