---
feature_name: Web Bluetooth / Reset Energy Expended
chrome_version: 45
check_min_version: true
feature_id: 5264933985976320
icon_url: icon.png
index: index.html
---

{% include_relative _includes/intro.html %}

<p>This sample illustrates the use of the Web Bluetooth API to reset energy
expended from a nearby Bluetooth Device advertising Heart Rate with Bluetooth
Low Energy. You may want to try this demo with the BLE Peripheral Simulator
App from the <a target="_blank"
href="https://play.google.com/store/apps/details?id=io.github.webbluetoothcg.bletestperipheral">Google
Play Store</a> and check out the <a href="reset-energy-async-await.html">Reset
Energy (Async Await)</a> sample.</p>

<button>Reset Energy Expended</button>

{% include output_helper.html %}

{% include js_snippet.html filename='reset-energy.js' %}

<script>
  document.querySelector('button').addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      onButtonClick();
    }
  });
</script>

{% include_relative _includes/utils.html %}
