---
permalink: /index.html
layout: false
---
<!DOCTYPE html>
<html lang="{{ metadata.language }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url={{ '/' + metadata.language + '/' }}">
    <title>Redirecting...</title>
    <script eleventy:ignore>
        window.location.href = "{{ ('/' + metadata.language + '/') | url }}";
    </script>
</head>
<body>
    <p>Redirecting to <a href="{{ '/' + metadata.language + '/' }}">{{ metadata.language }} version</a>...</p>
</body>
</html>
