---
permalink: /index.html
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url=/en/">
    <title>Redirecting...</title>
    <script>
        window.location.href = "/en/";
    </script>
</head>
<body>
    <p>Redirecting to <a href="/en/">English version</a>...</p>
</body>
</html>
