---
permalink: /index.html
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url={{ '/en/' | url }}">
    <title>Redirecting...</title>
    <script>
        window.location.href = "{{ '/en/' | url }}";
    </script>
</head>
<body>
    <p>Redirecting to <a href="{{ '/en/' | url }}">English version</a>...</p>
</body>
</html>
