---
feature_name: color-gamut Media Query 
chrome_version: 58
feature_id: 5354410980933632 
check_min_version: true
---

<h3>Background</h3>
<p>As wide color gamut screens are more and more popular, sites can now access
the approximate range of colors supported by Chrome and output devices using
the <code>color-gamut</code> Media Query.</p>
</p>

{% include output_helper.html initial_output_content=initial_output_content %}

<script>
  log = ChromeSamples.log;
</script>

{% include js_snippet.html filename='color-gamut-media-query.js' %}

