---
feature_name: Opus in ISO-BMFF with MSE
chrome_version: 70
feature_id: 5100845653819392
check_min_version: true
---

<h3>Background</h3>
<p>
Opus is an audio codec already supported in regular Chrome HTML5 playback.<br/>
Support for Opus in ISO-BMFF in Chrome HTML5 Media Source Extensions (MSE) is
now added in Chrome 70.
</p>

<audio controls></audio>

{% include output_helper.html initial_output_content=initial_output_content %}

<script>
  log = ChromeSamples.log;
</script>

{% include js_snippet.html filename='opus-in-mp4-for-mse.js' %}
