video {
  background: #263238;
  height: 198px;
  width: 100%;
}

input {
  width: 100%;
  display: block;
}

button {
  margin: 0 auto;
  display: block;
}

canvas {
  display: block;
  margin: 24px auto;
  width: 100%;
  height: 198px;
}
