[mat-fab] {
  position: fixed;
  bottom: 92px;
  right: 16px;
}

mat-list-item .content {
  display: flex;
  align-items: center;
}

mat-list-item .content span {
  flex: 1;
}

pre {
  text-wrap: wrap;
  flex: 1;
  margin-inline: 16px;
}

.chat-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-inline: 16px;
}

.chat-container mat-form-field {
  flex: 1;
}
