/* Copyright 2018 Google LLC.
 * SPDX-License-Identifier: Apache-2.0 */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
/*
     FILE ARCHIVED ON 10:00:56 Jun 03, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:03:39 Aug 19, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.539
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.012
  cdx.remote: 34.544
  LoadShardBlock: 97.812 (3)
  PetaboxLoader3.datanode: 104.988 (4)
  load_resource: 202.694
  PetaboxLoader3.resolve: 92.593
*/