---
feature_name: Destructuring (ES2015)
chrome_version: 49
feature_id: 4588790303686656
---

<h3>Background</h3>
<p><a href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment'>Destructuring assignment</a> allows extracting data from arrays or objects using a syntax that mirrors array and object literals.</p>

<p>The object and array literal expressions provide an easy way to create ad hoc packages of data. Once you've created these packages of data, you can use them any way you want to. You can even return them from functions.</p>

{% include output_helper.html %}

{% include js_snippet.html filename='demo.js' %}
