:root {
  color-scheme: dark light;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  font-family: system-ui, sans-serif;
}

img,
video {
  height: auto;
  max-width: 100%;
}

textarea {
  max-width: 100%;
  width: 650px;
  height: 280px;
  display: block;
  margin-block-end: 1rem;
}
