/**
 * Copyright 2019 Google LLC.
 * SPDX-License-Identifier: Apache-2.0
 */

body {
  color: var(--color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 12pt;
  padding: 1rem;
}

strong {
  background-color: yellow;
  color: black;
}

pre {
  width: 90%;
  max-width: 500px;
  border: solid 1px;
  overflow-x: auto;
  padding: 0.5rem;
}

dark-mode-toggle {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  --dark-mode-toggle-light-icon: url(https://googlechromelabs.github.io/dark-mode-toggle/demo/moon.png);
  --dark-mode-toggle-dark-icon: url(https://googlechromelabs.github.io/dark-mode-toggle/demo/sun.png);
}