---
feature_name: Vibration API
chrome_version: 32
feature_id: 5698768766763008
---

<p>You can control the vibration capability of your device using the Vibration API. Chrome only supports this feature on Android devices.</p>

{% include js_snippet.html filename='demo1.js' %}
<div><button onclick="example1()">Vibrate</button></div>

{% include js_snippet.html filename='demo2.js' %}
<div><button onclick="example2()">Vibrate</button></div>

{% include js_snippet.html filename='demo3.js' %}
<div><button onclick="startPattern()">Play pattern</button></div>

{% include js_snippet.html filename='demo4.js' %}
<div><button onclick="stopVibrations()">Stop vibrations</button></div>
