---
feature_name: ES6 Arrow functions
chrome_version: 45
feature_id: 5047308127305728
---

<h3>Background</h3>

<p>ES6 fat arrow functions have a shorter syntax compared to
function expressions and lexically bind the <code>this</code> value. Arrow functions are always anonymous and effectively turn
<code>function (arguments) { expression }</code> into <code>arguments => expression</code>. If using an expression after an arrow, the return is implicit, so no <code>return</code> is required.</p>

{% include output_helper.html %}

{% include js_snippet.html filename='demo.js' %}
