---
feature_name: PaymentRequest Dynamic Shipping
chrome_version: 53
feature_id: 5639348045217792
---

<h3>Background</h3>
<p>
  <a href="https://github.com/w3c/browser-payment-api">PaymentRequest</a> lets
  you accept payment from different payment methods.
</p>

<p>
  This sample accepts credit card payments and varies the availability and price
  of shipping options depending on the shipping address.
</p>

{% capture initial_output_content %}
<div><button id="buyButton">Buy</button></div>
<div><pre id="result"></pre></div>
{% endcapture %}
{% include output_helper.html initial_output_content=initial_output_content %}

{% include js_snippet.html filename='demo.js' %}
