---
feature_name: Intrinsic Size Attribute
chrome_version: 71
feature_id: 4704436815396864
check_min_version: true
---

<h3>Background</h3>
<p>
The <a href="https://github.com/ojanvafai/intrinsicsize-attribute">intrinsic size attribute</a>
allows web developers to specify the intrinsic size of a media element (&lt;img&gt;, &lt;video&gt;, and &lt;svg:image&gt;).
This enables a media element to maintain aspect ratio while being proportional to the width of the screen, for example, without
causing a visual reflow.
</p>
<p>
This attribute overrides the actual intrinsic size of an media element. Specifically, the image would raster at these
dimensions and <a href="https://html.spec.whatwg.org/multipage/embedded-content.html#dom-img-naturalwidth">naturalWidth/naturalHeight</a> 
on images would return the value specified in this attribute. On video elements, the video would raster at this size and
<a href="https://html.spec.whatwg.org/multipage/media.html#dom-video-videowidth">videoWidth/videoHeight</a> on the video would return the intrinsicsize values.
</p>

<h3>Case 1</h3>
<p>if no width/height are otherwise set on an image, then the size is specified by &quot;intrinsicsize&quot;</p>
<button class="demoButton">See Demo</button>
<div class="demoContent">
  {% highlight html %}
    <img intrinsicsize="250 x 200" src="cat.jpg">
  {% endhighlight %}
  {% include_relative unsized.html %}
</div>

<h3>Case 2</h3>
<p>If the width is set on an image, then the height is set to maintain the aspect ratio defined in &quot;intrinsicsize&quot;</p>
<button class="demoButton">See Demo</button>
<div class="demoContent">
  {% highlight html %}
    <div style="300px;">
    <img intrinsicsize="250 x 200" src="cat.jpg">
    </div>
  {% endhighlight %}
  {% include_relative width_only.html %}
</div>

<h3>Case 3</h3>
<p>If width and height are set on an image, the intrinsic size of an image is still overridden by the value of the 
&quot;intrinsicsize&quot; attribute</p>
<button class="demoButton">See Demo</button>
<div class="demoContent">
  {% highlight html %}
    <img intrinsicsize="250 x 200" width="450" height="400" src="cat.jpg">
  {% endhighlight %}
  {% include_relative width_only.html %}
</div>

{% include output_helper.html %}
<!--
{% capture unsized %}
<div>
<img style="float:left;" intrinsicsize="250 x 200" src="cat.jpg">
</div>
<div>
<button style="float:left; "onclick=">Get Image Sizing Info</button>
</div>
{% include output_helper.html %}
<script>
 document.querySelector('#getImageSizeButton').addEventListener('click', function() {
  var img = document.querySelector('img');
  var output = "width = " + img.width + ", height = " + img.height + 
               "\nnaturalWidth = " + img.naturalWidth + " naturalHeight = " + img.naturalHeight;
  ChromeSamples.log(output);
 });
</script>
{% endcapture %}
                                                                           

{{ unsized }}




{% capture width_only %}
<div style="300px;">
<img style="float:left;" intrinsicsize="250 x 200" style="width: 100%" src="cat.jpg">
<button style="float:left;" id='getImageSizeButton'>Get Image Sizing Info</button>
</div>
<script>
 document.querySelector('#getImageSizeButton').addEventListener('click', function() {
  var img = document.querySelector('img');
  var output = "width = " + img.width + ", height = " + img.height + 
               "\nnaturalWidth = " + img.naturalWidth + " naturalHeight = " + img.naturalHeight;
  ChromeSamples.log(output);
 });
</script>
{% endcapture %}

{{ width_only }}


<h3>Case 3</h3>
<p>If width and height are set on an image, the intrinsic size of an image is still overridden by the value of the 
&quot;intrinsicsize&quot; attribute</p>

{% capture sized %}
<div>
<img style="float:left;" intrinsicsize="250 x 200" width="450" height="400" src="cat.jpg">
<button style="float:left;" id='getImageSizeButton'>Get Image Sizing Info</button>
</div>
{% include output_helper.html %}
<script>
 document.querySelector('#getImageSizeButton').addEventListener('click', function() {
  var img = document.querySelector('img');
  var output = "width = " + img.width + ", height = " + img.height + 
               "\nnaturalWidth = " + img.naturalWidth + " naturalHeight = " + img.naturalHeight;
  ChromeSamples.log(output);
 });
</script>
{% endcapture %}

{{ sized }}
{% highlight html %}
<img intrinsicsize="250 x 200" width="450" height="400" src="cat.jpg">
{% endhighlight %}
-->
                                                                     
<script>
if ( !(HTMLImageElement.prototype.hasOwnProperty('intrinsicSize')) ) {
  ChromeSamples.setStatus('Intrinsic Size Attribute is not available.\n' +
    'Please make sure the "Experimental Web Platform features" flag is enabled.');
}
 
var coll = document.getElementsByClassName("demoButton");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

<style>
.demoContent {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
.demoButton {
    background-color: #777;
    color: white;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
 }
</style>
