---
feature_name: Intrinsic Size Attribute
chrome_version: 71
feature_id: 4704436815396864
check_min_version: true
---

<h3>Background</h3>
<p>
The <a href="https://github.com/ojanvafai/intrinsicsize-attribute">intrinsic size attribute</a>
allows web developers to specify the intrinsic size of a media element (&lt;img&gt;, &lt;video&gt;, and &lt;svg:image&gt;).
This enables a media element to maintain aspect ratio while being proportional to the width of the screen, for example, without
causing a visual reflow.
</p>
<p>
This attribute overrides the actual intrinsic size of an media element. Specifically, the image would raster at these
dimensions and <a href="https://html.spec.whatwg.org/multipage/embedded-content.html#dom-img-naturalwidth">naturalWidth/naturalHeight</a> 
on images would return the value specified in this attribute. On video elements, the video would raster at this size and
<a href="https://html.spec.whatwg.org/multipage/media.html#dom-video-videowidth">videoWidth/videoHeight</a> on the video would return the intrinsicsize values.
</p>

<h3>Case 1</h3> 
<p>if no width/height are otherwise set on an image, then the size is specified by &quot;intrinsicsize&quot;</p>
{% capture unsized_html %}
<div>
<img style="float:left;" id='unsizedImage' intrinsicsize="250 x 200" src="cat.jpg">
<button style="float:left;" id='getImageSizeButton'>Get Image Sizing Info</button>
</div>
{% include output_helper.html %}
<script>
 document.querySelector('#getImageSizeButton').addEventListener('click', function() {
    var img = document.querySelector('#unsizedImage');
     var output = "width = " + img.width + ", height = " + img.height + 
                  "\nnaturalWidth = " + img.naturalWidth + " naturalHeight = " + img.naturalHeight;
     ChromeSamples.log(output);
  });
 </script>
{% endcapture %}
{% highlight html %}
<img style="float:left;" id='unsizedImage' intrinsicsize="250 x 200" src="cat.jpg">
{% endhighlight %}

<h3>Case 2</h3>
<p>If the width is set on an image, then the height is set to maintain the aspect ratio defined in &quot;intrinsicsize&quot;</p>
{% capture width_only_html %}
<div style="300px;">
<img intrinsicsize="250 x 200" style="width: 100%" src="cat.jpg">
<!-- cat.jps is a 600px x 400px image -->
<!-- img.width => 300, img.heigh => 240 -->
<!-- img.naturalWidth => 250, img.naturalHeight => 200 -->
</div>
{% endcapture %}
{% include html_snippet.html html=width_only_html %}
  
<h3>Case 3</h3>
<p>If width and height are set on an image, the intrinsic size of an image is still overridden by the value of the 
&quot;intrinsicsize&quot; attribute</p>
{% capture sized_html %}
<img intrinsicsize="250 x 200" width="450" height="400" src="cat.jpg">
<!-- cat.jps is a 600px x 400px image -->
<!-- img.width => 450, img.heigh => 400 -->
<!-- img.naturalWidth => 250, img.naturalHeight => 200 -->
{% endcapture %}
{% include html_snippet.html html=sized_html %}

<script>
if ( !(HTMLImageElement.prototype.hasOwnProperty('intrinsicSize')) ) {
  ChromeSamples.setStatus('Intrinsic Size Attribute is not available.\n' +
    'Please make sure the "Experimental Web Platform features" flag is enabled.');
}
</script>
