---
feature_name: Fetch API Reddit
chrome_version: 42
feature_id: 6730533392351232
---

<style>
  #entries > ul > li {
    overflow-x: hidden;
  }
</style>

<h3>Background</h3>
<p>
  This is an example of fetching some data (Reddit subreddits) which is then used to
  populate a menu allowing a user to make another fetch (for the subreddit content).
</p>

{% capture initial_output_content %}
<div id="menu"></div>
<div id="entries"></div>
{% endcapture %}
{% include output_helper.html initial_output_content=initial_output_content %}

{% include js_snippet.html filename='fetch-reddit-demo.js' %}
