body {
  font-weight: inherit;
  margin-bottom: 2em;
  font-weight: 300;
}
h1, h2, h3, h4 {
  font-family: 'Product Sans', Arial, sans-serif;
}
p {
  line-height: 1.6;
}
.flex {
  display: flex;
}
.vertical {
  flex-direction: column;
}
input[type="text"] {
  padding: 8px;
  font-size: 18px;
  width: 75px;
  margin-right: 18px;
}
#radios {
  margin: 16px 0;
}
