---
feature_name: Collections and Iterators (ES6)
chrome_version: 38
feature_id: 4696563918045184
---

<h3>Background</h3>

<p>
  There are several new types of collections and ways of iterating over collections in the
  <a href="https://people.mozilla.org/~jorendorff/es6-draft.html">draft ECMAScript 6 specification</a>.
</p>

<p>
  This sample demonstrates creating and working with two types of collections, <code>Set</code>
  and <code>Map</code>. It also demonstrates using the  <code>for...of</code> syntax to iterate over
  each type of collection.
</p>

{% include output_helper.html %}

{% include js_snippet.html filename='demo.js' %}
