---
feature_name: Payment Handler API
chrome_version: 68
feature_id: 5160285237149696
---

<h3>Background</h3>
<p>
  <a href="https://github.com/w3c/browser-payment-api">PaymentRequest</a> lets
  you accept payment with a URL-based payment method.
</p>

<p>
  This sample accepts the a URL-based payment method.
</p>

{% capture initial_output_content %}
<div><button id="buyButton">Buy</button></div>
<div><pre id="result"></pre></div>
{% endcapture %}
{% include output_helper.html initial_output_content=initial_output_content %}

{% include js_snippet.html filename='demo.js' %}
